<script>
function checkForm(){
	var begin_tm = $.trim($('#begin_tm').val());
	var end_tm = $.trim($('#end_tm').val());
	if(begin_tm && end_tm && begin_tm>end_tm){
		tips_message('开始时间不能大于结束时间');
		return false;
	}
}
function bytime(num){
	var url = "{{url('data/list')}}";
	var my_go = '?tag='+num;
	var materiel_name = $('#materiel_name').val(); //广告计划名称
	if(materiel_name){
		my_go += '&materiel_name='+materiel_name;
	}
	window.location.href=url+my_go;
}
</script>
<div class="manage_ad_position">
	<form method="get" action="{{ url('data/list') }}" onsubmit="return checkForm()">
	<div class="search_box">
		<div class="form_item">
			<div class="form_label">
				<label>广告计划名称：</label>
			</div>
			<div class="form_control">
				<input type="text" name="materiel_name" id="materiel_name" class="inputtext" {% if materiel_name is not empty %}value="{{materiel_name}}"{%endif%}/>
			</div>
		</div>			
		<div class="form_item">
			<div class="form_control">
				<button class="btn_orange" type="submit">搜索</button>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="table_nav">
		<a class="btn_orange" href="{{url('data/list?from=1&page='~page)}}">导出数据报表</a>
		<div class="form_control pull-right">
			<input class="inputtext" name="begin_tm" id="begin_tm" {% if begin_tm is not empty %}value="{{begin_tm}}"{%endif%} onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d %H:%m:%s'})" />
			<span class="space">~</span>
			<input class="inputtext" name="end_tm" id="end_tm" {% if end_tm is not empty %}value="{{end_tm}}"{%endif%} onfocus="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'%y-%M-%d %H:%m:%s'})" />
		</div>
		<div class="table_nav_a pull-right">
			<a {% if tag==1 %}class="active"{% endif %} href="javascript:;" onclick="bytime(1);">今天</a>
			<a {% if tag==2 %}class="active"{% endif %} href="javascript:;" onclick="bytime(2);">昨天</a>
			<a {% if tag==7 %}class="active"{% endif %} href="javascript:;" onclick="bytime(7);">最近7天</a>
			<a {% if tag==30 %}class="active"{% endif %} href="javascript:;" onclick="bytime(30);">最近30天</a>
		</div>	
	</div>
	</form>
	<div class="table_box">
		<table cellpadding="0" cellspacing="0" class="tables">
			<thead>
				<tr>
					<th width="20%">广告计划名称</th>
					<th width="20%">广告主名称</th>
					<th width="10%">时间</th>
					<th width="10%">曝光量(次)</th>
					<th width="10%">点击量(次)</th>
					<th width="10%">点击率</th>
					<th width="10%">点击均价(元)</th>
					<th width="10%">总消耗(元)</th>
				</tr>
			</thead>
			<tbody>
			{% if results is not empty %}
			{% for val in results %}
				<tr>
					<td>{{val['ad_name']}}</td>
					<td>{{val['client_name']}}</td>
					<td>{{val['create_date']}}</td>
					<td>{{val['exposure']}}</td>
					<td>{{val['click_num']}}</td>
					<td>{{val['pv']}}</td>
					<td>{{val['click_price']/100}}</td>
					<td>{{val['total']/100}}</td>
				</tr>
			{% endfor %}
			{% else %}
				<tr>
	                <td colspan="8">暂无数据</td>
	            </tr>
			{% endif %}
			</tbody>
		</table>
		{% if results is not empty %}
            {{ partial('public/paginator') }}
        {% endif %}
	</div>
	
</div>